<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670291926367-aqoldo7boaebpkm5uqrjgqcopiiq9u72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670291926367-aqoldo7boaebpkm5uqrjgqcopiiq9u72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670291926367-kro3g6dougpuvjlbjr12vtdisvaaf2u8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHJNE3L_TbT0LQGiONY7LvkWhk_7o3qfk</string>
	<key>GCM_SENDER_ID</key>
	<string>670291926367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.uniplanet.smart-fridge</string>
	<key>PROJECT_ID</key>
	<string>smart-fridge-b2440</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-fridge-b2440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670291926367:ios:a0401d976e16dc0d446aea</string>
</dict>
</plist>